a:link {
    color: #4a4a4a;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #4a4a4a;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #4a4a4a;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #4a4a4a;
    background-color: transparent;
    text-decoration: underline;
  }

  #logos{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #record
  {
    width: auto;
    max-height: 20%;
  }